@use "@styles/module-imports" as *;
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  @extend .flex;
  flex-direction: column;
  flex: 1;
}
.mainPhoto {
  margin: 50px 0px;
  z-index: -20;
  overflow: hidden;
  width: 100%;
  height: 400px;

  position: relative;
  @include media(tablets) {
    margin-bottom: 50px;
    margin-top: 0px;
    width: 100%;
    height: 800px;
  }
}

video::-internal-media-controls-overlay-cast-button,
video::-webkit-media-controls {
  display: none !important;
}

.mainVideo {
  pointer-events: none;
  object-fit: cover;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-drag: none;
  touch-action: none;
}

.upcomingEvent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.arrowHolder {
  display: flex;
  flex-direction: row;
}
.quoteWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $pink;
  padding: 40px 0px;
  text-align: center;
  font-style: italic;
  width: 100%;
  font-size: 16px;

  .quote {
    letter-spacing: 5px;
    font-weight: 600;
  }

  .writer {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  @include media(tablets) {
    font-size: 30px;
    letter-spacing: 10px;
  }
}
