@use "@styles/module-imports" as *;
.slideHolder {
  position: relative;
  // max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 20px auto;
  // background-color: red;
  @include media(laptops) {
    max-width: 1200px;
    gap: 10px;
  }
}

.imageHolder {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slide {
  flex-shrink: 0;
  width: 100%; /* Default for mobile: one image per view */
  scroll-snap-align: start;
}

@media (min-width: 768px) {
  .slide {
    width: 33.33%; /* Tablet and larger: three images per view */
  }
}

.imageHolder::-webkit-scrollbar {
  display: none;
}

.imageHolder {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.categoryHolder {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $pink;
  align-items: center;
  padding: 10px;
  h1 {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  p {
    width: 200px;
  }

  @include media(laptops) {
    width: 300px;
    height: 300px;
  }
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.arrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  // z-index: 10;
}

.arrowButton.left {
  left: 10px;
}

.arrowButton.right {
  right: 10px;
}
