$breakpoints: (
  smartphone: 320px,
  e-readers: 480px,
  tablets: 640px,
  laptops: 960px,
  big-screens: 1024px,
  large-desktops: 1280px,
);

@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint: #{$breakpoint}. Check the $breakpoints map.";
  }
}
