$purple: #570767;
$pink: #C34E79;
$pink-secondary: #BE4E96;
$orange: #D74E12;
$orange-secondary: #DA4E00;
$gray: #606060;
$light-gray: #8E8E8E;
$black: #020202;
$text-white: #FFFFFF;

$breakpoints: (
    smartphone: 320px,
    e-readers: 480px,
    tablets: 640px,
    laptops: 960px,
    big-screens: 1024px,
    large-desktops: 1280px
);