$purple: #570767;
$pink: #c34e79;
$pink-secondary: #be4e96;
$orange: #d74e12;
$orange-secondary: #da4e00;
$gray: #606060;
$light-gray: #8e8e8e;
$black: #020202;
$text-white: #ffffff;
$white: #ffffff;

// $breakpoints: (
//   smartphone: 320px,
//   e-readers: 480px,
//   tablets: 640px,
//   laptops: 960px,
//   big-screens: 1024px,
//   large-desktops: 1280px,
// );
