@use "@styles/module-imports" as *;

.contactPageWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include media(laptops) {
    padding: 100px 0px;
  }
}

.titleContact {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  color: $pink;
  word-break: keep-all;

  @include media(laptops) {
    letter-spacing: 15px;
    font-size: 16px;
  }
}

.infoHolder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 30px 10px;
  @include media(tablets) {
    flex-direction: row;
  }
}

.shared {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 40px;

  text-align: center;
  flex-direction: column;
  color: $light-gray;
  font-size: 16px;

  @include media(tablets) {
    max-width: 400px;
    margin: 50px 0px;
  }
}

.phone {
  @extend .shared;
  border-radius: 70px 0px 0px 0px;
}

.phoneInfo {
  color: $orange-secondary;
}

.email {
  @extend .shared;

  border-radius: 0px 0px 70px 0px;

  p {
    margin-bottom: 30px;

    @include media(tablets) {
      border-radius: 0px 70px 0px 0px;
    }
  }
}

.contactButton {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  color: white;
  font-size: 16px;
  width: 200px;
  gap: 10px;
  background-color: $pink-secondary;

  img {
    width: 20px;
  }
}
