@use "../../styles/module-imports" as *;

.footer {
  margin-bottom: 0;
  // // position: ab;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $pink;
  height: 100px;
  gap: 10px;
  // position: fixed;
}

.navLinks {
  @include media(smartphone) {
    display: none;
  }

  @include media(tablets) {
    display: flex;
    font-size: 14px;
    gap: 30px;
  }

  @include media(laptops) {
    display: flex;
    gap: 60px;
  }

  @include media(large-desktops) {
    font-size: 18px;
  }
}

.text {
  text-decoration: none;
  color: white;
  &::after {
    text-decoration: none;
  }
}
// .textWrapper {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   align-items: center;
// }
.emailImage {
  width: 20px;
  margin: auto;
  @include media(tablets) {
    display: none;
  }
}

.emailText {
  font-size: 18px;
  color: white;
}

.copyright {
  font-size: 16px;
  color: white;

  @include media(smartphone) {
    font-size: 12px;
    text-align: center;
    padding: 10px;
  }
}

.textDecoration {
  text-decoration: none;
}
