@use "@styles/module-imports" as *;

.dancewearWrap {
  background-image: url("/assets/comingSoonMobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  @include media(tablets) {
    background-image: url("/assets/comingSoon.jpg");
    background-size: cover;
  }
}
