.imageHolder {
  // position: absolute;
  min-width: 100%;
  flex-shrink: 0;
  text-align: center;

  &.img {
    // display: block;
    // width: 100%;
    // height: auto;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .infoTextUp {
    position: absolute;
    letter-spacing: 15px;
    top: 10px;
    left: 50px;
    padding: 5px 10px;
    font-size: 30px;
  }
  .infoTextCenter {
    // position: relative;
    // top: 50%;
    // left: 50%;
    transform: translate(0%, -100%);
    color: white;
    width: 100%;
    letter-spacing: 15px;

    font-size: 40px;
    text-align: center;
  }
}

// .margin {
//   margin: 40px;
// }
