@use "@styles/module-imports" as *;

.eventInfo {
  //   background-color: red;
  //   padding: 10px;
  display: flex;
  flex-flow: column;
}
.title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 0px;
  font-weight: 600;
  background-color: $pink;
  width: 100%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  @include media(laptops) {
    font-size: 28px;
  }
}
.line {
  border: 1px solid $pink;
  margin-top: 2px;
  margin-bottom: 2px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.subTitleWrap {
  display: flex;
  align-items: center;
  gap: 10;
  flex-direction: column;
}

.subtitle {
  background-color: $pink;
  text-transform: uppercase;
  color: white;
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 5px 0px;
  margin-bottom: 5px;
  margin-top: 5px;
  align-items: center;
  @include media(laptops) {
    width: 100px;
  }
}
